{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <main>
        <h3 class="form-title">Add Your Record</h3>
        <form method="post">
          {% csrf_token %}
          <p class="form-artist">
            <label>Artist:</label>
            {{ form.artist }}
            <div class="form-button-a">
              <a href="{% url 'artist_add' %}">Add</a></p>
            </div>
          <p class="form-album"><label>Album:</label>{{ form.album }}</p>
          <p class="form-artwork"><label>Artwork:</label>{{ form.artwork }}</p>
          <p class="form-date"><label>Date:</label>{{ form.date }}</p>
          <p class="form-price"><label>Price:</label>{{ form.price }}</p>
          <div class="form-button">
            <button type="submit">Add</button>
          </div>
        </form>

    </main>
  </body>
{% endblock content %}
