{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <main>
        <h1><b>{{ record.artist | default_if_none:"Unknown" }}</b></h1>
        {% for rec in record.records %}
            <div>
                {% if record.artwork %}
                <img src="{{ record.artwork }}"
                    height="auto"
                    width="300px"
                    alt="{{ record.album }} cover"/>
                {% endif %}
            </div>
            <p>{{ rec.album | default_if_none:"Unknown" }}</p>
            <p>{{ rec.date | default_if_none:"Unknown" }}</p>
            <p>{{ rec.price | default_if_none:"Unknown" }}</p>
        {% endfor %}
      {% comment %} <div>
        <a href="{% url 'record_edit' record.id %}">Edit</a>
        <a href="{% url 'record_delete' record.id %}">Delete</a>
      </div> {% endcomment %}
    </main>
  </body>
{% endblock content %}
