{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
        <main>
            <div class="delete-questions">
                <h2 class="delete-question">Are you sure you want to delete</h2>
                <h2 class="delete-question">{{ record.album }}</h2>
                <h2 class="delete-question">by: {{ record.artist }}?</h2>
            </div>
            <div class="artist-detail-grid">
                <div class="delete-record-card">
                  {% if record.artwork %}
                    <img
                        class="album-art"
                        src="{{ record.artwork }}"
                        alt="album artwork for {{ record.album }} by {{ record.artist }}"/>
                  {% endif %}
                  <h3 class="album-title-detail">{{ record.album | default_if_none:"Unknown" }}</h3>
                  <p class="text-date">{{ record.date | default_if_none:"Unknown" }}</p>
                  <p class="text-price">{{ record.price | default_if_none:"Unknown" }}</p>
                </div>
            </div>
            <div class="delete-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="delete-form-button">
                        <button type="submit">Yes</button>
                        <a href="{% url 'records_list' %}">No</a>
                    </div>
                </form>
            </div>
        </main>
    </body>
{% endblock content %}
