{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %} {{ title }} {% endblock title %}</title>
        {% comment %} CSS {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
        {% comment %} SEARCH ICON {% endcomment %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
    <header>
        <nav>
            <ul class="container-menu">
                <li>
                <a href="{% url 'home' %}">
                    <p class="text-secondary">Records</p>
                </a>
                </li>
                <li>
                <a href="{% url 'record_add' %}">
                    <p class="text-secondary">Add a Record</p>
                </a>
                </li>
                <li>
                <a href="{% url 'admin:index' %}">
                    <p class="text-secondary">Admin</p>
                </a>
                </li>
                <li>
                    <form action="{% url 'search_results' %}" method="get">
                        {% csrf_token %}
                        <span class="material-symbols-outlined" id="search-icon">search</span>
                        <input name="q" type="text" placeholder="Search..."/>
                        <button class="button" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="heading">
            <h1 class="header" >Vinyl Collection</h1>
            <div class="search-form">
            </div>
        </div>
    </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <div>Copyright 2023 by David "Lewey" Melchor</div>
            <div>The Finest Records In The Bin</div>
        </footer>
    </body>
</html>
