{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
  <body>
    <main>
        <h2 class="login-title">Log In</h2>
        <div class="login-card">
          <form class="login-form2" method="post">
            {% csrf_token %}
            <p><label>Username:</label>{{ form.username }}{{ form.username.attrs }}</p>
            <p><label>Password:</label>{{ form.password }}{{ form.password.attrs }}</p>
            <div class="login-form-buttons">
              <button class="login" type="submit">Log In</button>
              <a class="signup" href="{% url 'signup' %}">Sign up</a>
            </div>
          </form>
        </div>
    </main>
  </body>
{% endblock content %}
