{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <main>
      <h2 class="profile-title">Update Profile</h2>
      <div class="profile-card">
        <form  class="profile-form" method="post">
            {% csrf_token %}
            <p><label>Username:</label>{{ form.username }}</p>
            <p><label>First name:</label>{{ form.first_name }}</p>
            <p><label>Last name:</label>{{ form.last_name }}</p>
            <p><label>E-mail:</label>{{ form.email }}</p>
            <div class="form-button" id="form-button">
              <button type="submit">Update</button>
            </div>
        </form>
      </div>
    </main>
  </body>
{% endblock content %}
