{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <main>
        <h2>Sign-up</h2>
        <div class="signup-card">
          <form class="signup-form" method="post">
            {% csrf_token %}
            <p><label>	&lowast; Username:</label>{{ form.username }}{{form.username.attrs }}</p>
            <p><label>First name:</label>{{ form.first_name }}{{form.first_name.attrs }}</p>
            <p><label>Last name:</label>{{ form.last_name }}{{form.last_name.attrs }}</p>
            <p><label>E-mail:</label>{{ form.email }}{{form.email.attrs }}</p>
            <p><label>	&lowast; Password:</label>{{ form.password1 }}{{form.password1.attrs }}</p>
            {% comment %}
            <ul class="password-drop-down">
              <li>Your password can't be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can't be a commonly used password.</li>
              <li>Your password can't be entirely numeric.</li>
            </ul>
            {% endcomment %}
            <p><label>	&lowast; Password confirmation:</label>{{ form.password2 }}{{form.password2.attrs }}</p>
            <div class="register-button">
              <button class="register" type="submit">Sign-up</button>
            </div>
        </form>
      </div>
    </main>
  </body>
{% endblock content %}
