{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <main>
        <h2>Sign-up</h2>
        <div class="signup-card">
          <form method="post">
            {% csrf_token %}
            <p><label>Username:</label>{{ form.username }}</p>
            <p><label>First name:</label>{{ form.first_name }}</p>
            <p><label>Last name:</label>{{ form.last_name }}</p>
            <p><label>E-mail:</label>{{ form.email }}</p>
            <p><label>Password:</label>{{ form.password1 }}</p>
            <p><label>Password confirmation:</label>{{ form.password2 }}</p>
            <div class="register-button">
              <button class="register" type="submit">Register</button>
            </div>
        </form>
      </div>
    </main>
  </body>
{% endblock content %}
