/* UNIVERSAL */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/6621704/pexels-photo-6621704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-blend-mode: saturation;
    color: aliceblue;
    font-family: 'Pangolin', cursive;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
}

html {
    font-size: 80%;
  }

/* .header {
    background: url(https://cdn.shopify.com/s/files/1/1619/4221/products/BH1038680DKateAbstractRetroBackdropGrayWallTexture.jpg?v=1652066917) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    font-family: 'Pangolin', cursive;
    font-size:50px;
    padding:0;
    margin:0;
    text-align:center;
    max-width: 500px;
} */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 1rem;

    /* position: relative; */
    bottom: 1.5rem;
    width: 100%;
    height: 2.5rem;
}

/* ul {
    width: 100%;
} */

/* li {
    list-style: none;
} */

/* h1 {
    text-align: center;
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: -40px;
    color:rgba(255, 255, 255, 0.6);
} */

/* .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 25px;
} */

.main-title {
    color: inherit;
    text-decoration: none;
    transition-property: color;
    color: rgb(80, 80, 80);
    /* font-family: 'Pangolin', cursive; */
    margin-top: 1rem;
    margin-bottom: 5px;
    text-align:center;

    transition: color 0.3s ease-in-out;
}

.main-title:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(140, 140, 140);
}

.total {
    color: rgb(80, 80, 80);
}

.total-hide {
    color: rgb(80, 80, 80);
    display: none;
}

/* ^^^^^^^^^^UNIVERSAL^^^^^^^^^^ */



/* .........DESKTOP MODE.......... */

/* images */
.album-art {
    border-radius: 8px;
    margin-bottom: 8px;
    height: 200px;
    width: 200px;
    transition: all .3s ease-in-out;
}

a > .album-art:hover {
    transform: scale(1.1);
}

img {
    border-radius: 8px;
    margin-bottom: 8px;
    transition: all .3s ease-in-out;
}

a > img:hover {
    transform: scale(1.1);
}

/* spinning record logo */
.spinning-record {
    margin-top: 17px;
    height: 30px;

    -webkit-animation:fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin{
    0%{-webkit-transform:rotate(0deg);
    transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}

@keyframes fa-spin{
    0%{-webkit-transform:rotate(0deg);
    transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
/* ^^^^^^^end images^^^^^^^^^ */

/* nav-bar / hamburger menu */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: relative;
  width: 100%;
  background:rgba(255, 255, 255, 0.8);
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.menu-items a:hover {
  color: rgb(160, 160, 160);
  transition: all 0.3s ease-in-out;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(80, 80, 80);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.logo-hide {
    display: none;
}

/* search bar and button */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.search-form > input {
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 40px;
    padding: 5px;

    border: 2px solid rgb(80, 80, 80);
}

.search-form > input:focus {
    outline: none !important;
    border: 2px solid rgb(160, 160, 160);
    box-shadow: 0 0 10px rgb(160, 160, 160);
}

#search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

li > form > button {
    border-radius: 8px;
    border: none;

    padding: 4px;

    background-color: rgb(80, 80, 80);
    color: white;

    transition: all .3s ease-in-out;
}

li > form > button:hover {
    color: white;
    background-color: rgb(110, 110, 110);
    transform: scale(1.2);
}

/* ^^^^^^^^^END search bar^^^^^^^ */
/* ^^^^^^^^^END navbar^^^^^^^^^^^ */


/* HOME RECORD LIST PAGE */

.created-cont {
    position: static;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 150px;
}

.created-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 135%;
    color: #000000;

    position: absolute;
    left: 10%;

    padding: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}

.created-link:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(90, 90, 90);
}

.container-list-albums {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    max-width: 80%;
    height: 97%;
    padding: 3.5%;
    border-radius: 25px;
    margin-top: 4.5rem;
    margin-bottom: 3.6rem;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(255, 255, 255, 0.6);
}

.card {
    width: 15.625rem;
    height: 23rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3rem;
    text-align: center;
}

/* record list text */
.text-container {
    margin-top: .75rem;
}

.text-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 135%;
    color: #000000;
}

.text-link:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(90, 90, 90);
}

/* pagination */
.pagination {
    text-align: center;
    position: relative;
    bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}

#page {
    text-decoration: none;
    transition-property: color;
    transition: all 0.3s ease-in-out;
    font-size: 140%;
    color: rgb(80, 80, 80);
}

#page:hover {
    transition-property: color;
    transition: all 0.3s ease-in-out;
    color: rgb(160, 160, 160);
}

/* ^^^^^^^^^END pagination^^^^^^^^^^^ */
/* ^^^^^^^^^END RECORD LIST PAGE^^^^^^^^^^^ */

/* ADD RECORD/ARTIST/PROFILE FORMS CSS  */
.form-title {
    font-size:350%;
    margin: 1rem;
}

.artist-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    padding-top: 3rem;
    padding-bottom: 1.2rem;

    width: 30%;

    border-radius: 25px;

    margin-top: 15px;
    margin-bottom: 50px;

    background-color: rgba(255, 255, 255, 0.6);
}


.record-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;

    padding-top: 0.938rem;
    padding-bottom: 2.188rem;

    width: 30%;

    border-radius: 25px;

    margin-top: 15px;
    margin-bottom: 50px;

    background-color: rgba(255, 255, 255, 0.6);
}

.form-button-a {
    display: grid;
    align-items: center;
    justify-items: center;

    margin-top: -15px;
}


.form-button-a > a {
    font-family: Arial;
    font-size: 15px;
}

.form-button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 10%;
}

.form-button > button,
.form-button-a > a {
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 8px;
    margin-top: -50px;
    padding: 7px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    text-align: center;

    transition: all .3s ease-in-out;
}

.form-button > button:hover,
.form-button-a > a:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.2);
}

form > p {
    display: grid;
    align-items: center;
    justify-items: center;

    border-color: rgb(90, 90, 90);
    background-color: rgba(0, 0, 0, .6);
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 17px;
    padding-bottom: 18px;
    max-width: 300px;
    text-align: center;

    margin-bottom: 15px;
}

form > p > input,
form > p > select {
    border-radius: 8px;
    border: none;
    padding: 5px;
    min-width: 163px;
    margin: auto;
}

.form-artist,
.artist-form {
    font-size: 130%;
    margin-top: 10px;
}


.form-album,
.form-artwork,
.form-date,
.form-price {
    font-size: 130%;
    margin-top: -95px;
}

.form-price {
    margin-top: -45px;
}

#id_artist {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

/* ^^^^^^END ADD RECORD FORM CSS^^^^^^^  */

/* ARTIST RECORDS DETAIL VIEW */

.artist-title {
    background: url(https://cdn.shopify.com/s/files/1/1619/4221/products/BH1038680DKateAbstractRetroBackdropGrayWallTexture.jpg?v=1652066917) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    font-family: 'Pangolin', cursive;
    font-size: 375%;
    margin-top: 1rem;
    margin-bottom: 0px;
    text-align:center;
}

.artist-detail-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);  /* causing issue with nav */
    grid-template-rows: auto;
    align-items: center;
    align-content: justify;

    margin-top: 15px;
    margin-bottom: 50px;
}

.record-card {
    width: 23rem;
    height: 30rem;
    text-align: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin: 15px;
    margin-top: 45px;

    background-color: rgba(255, 255, 255, 0.6);
    color:#000000;
}

.text-date,
.text-price {
    margin-top: .6rem;
    font-size: 120%;
}

/* ^^^^^^^END ARTIST RECORDS DETAIL VIEW^^^^^^^^ */

/* RECORD DETAIL PAGE */

.album-title,
.album-title > a {
    color: inherit;
    text-decoration: none;
    transition-property: color;
    color: #fff;
    /* font-family: 'Pangolin', cursive; */
    font-size: 200%;
    margin-top: 1rem;
    margin-bottom: 5px;
    text-align:center;

    transition: color 0.3s ease-in-out;
}

.album-title:hover,
.album-title > a:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(90, 90, 90);
}

.detail-record-card {
    width: 23rem;
    height: 30rem;
    text-align: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;


    /* margin: 25px; */

    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
}

.album-title-detail {
    font-size: 135%;
}

.edit-delete-buttons {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    margin-top: -25px;
    margin-bottom: 65px;
    padding-left: 5%;
    padding-right: 5%;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete-buttons > a {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;

    font-family: Arial;
    font-size: 13.333px;

    max-width: 24px;

    transition: all .3s ease-in-out;
}

.edit-delete-buttons > a:hover,
.login-form-buttons > a:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.2);
}
/* ^^^^^^^^END RECORD DETAIL PAGE^^^^^^^^^^ */

/* DELETE FORM */

.delete-record-card {
    width: 23rem;
    height: 30rem;
    text-align: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 15px;

    background-color: rgba(255, 255, 255, 0.6);

    color:rgb(0, 0, 0);
}

.delete-questions {
    line-height: 200%;
    margin-top: 15px;

    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    border-radius: 25px;
}

.delete-container {
    display: grid;
    align-items: center;
    align-content: justify;

    margin-top: -15px;
    margin-bottom: 50px;
}

.delete-question {
    inline-size: 400px;
    font-size: 180%;
    overflow-wrap: break-word;
    text-align: center;
}

.delete-form-button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.delete-form-button > button,
.delete-form-button > a {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;

    font-family: Arial;
    font-size: 13.333px;

    max-width: 100px;

    transition: all .3s ease-in-out;
}

.delete-form-button > button:hover,
.delete-form-button > a:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.2);
}

.delte-form-button > button,
.delete-form-button > a {
    cursor: default;
}
/* ^^^^^^^END DELETE FORM^^^^^^^^^ */

/* UPDATE RECORD FORM */

.update-title {
    font-size:300%;
    margin: 1rem;
    text-align: center;
}

.update-form-artist,
.update-form-album,
.update-form-artwork,
.update-form-date,
.update-form-price {
    font-size: 130%;
}
/* ^^^^^^END UPDATE RECORD FORM^^^^^^^^^^ */

/* SEARCH RESULTS PAGE */
.search-title {
    background: url(https://cdn.shopify.com/s/files/1/1619/4221/products/BH1038680DKateAbstractRetroBackdropGrayWallTexture.jpg?v=1652066917) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    font-family: 'Pangolin', cursive;
    font-size:350%;
    text-align:center;
    margin-top: 1rem;
    margin-bottom: 15px;
}

/* Login / Signup / Profile */

.login-form {
    width: 250px;
    height: 375px;
    text-align: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 15px;

    background-color: rgba(255, 255, 255, 0.6);

    color:rgb(0, 0, 0);
}

.login-form-buttons,
.register-button {
    display: inline-flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.login-form-buttons > a {
    background-color: rgb(90, 90, 90);
    border: none;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-family: Arial;
    font-size: 13.333px;

    min-width: 77px;

    transition: all .3s ease-in-out;
}

.login-form-buttons > button,
.register-button > button {
    background-color: rgb(90, 90, 90);
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-family: Arial;
    font-size: 13.333px;

    margin-right: -10px;
    max-width: 100px;

    transition: all .3s ease-in-out;
}

.login-form-buttons > button:hover,
.register-button > button:hover,
.login-form-buttons > a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color:rgb(0, 0, 0);
    transform: scale(1.2);
}

.signup-card {
    width: 23rem;
    height: 50rem;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 15px;
    margin-bottom: 25px;
    /* margin-left: auto;
    margin-right: auto; */

    background-color: rgba(255, 255, 255, 0.6);

    color: rgb(255, 255, 255);
}

.signup-title {
    background: url(https://cdn.shopify.com/s/files/1/1619/4221/products/BH1038680DKateAbstractRetroBackdropGrayWallTexture.jpg?v=1652066917) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    font-family: 'Pangolin', cursive;
    font-size: 350%;
    margin-top: 1rem;
    margin-bottom: 5px;
    text-align:center;
}

.profile-form > p > label,
.login-form2 > p > label,
.signup-form > p > label {
    font-size: 130%;
    margin-bottom: 4px;
}

.profile-form > p,
.login-form2 > p,
.signup-form > p {
    width: 19rem;
}

#id_password,
#id_username,
#id_first_name,
#id_last_name,
#id_email,
#id_password1,
#id_password2 {
    width: 15rem;
}


.login-card {
    width: 23rem;
    height: 24rem;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 15px;
    margin-bottom: 25px;

    background-color: rgba(255, 255, 255, 0.6);

    color: rgb(255, 255, 255);
}

.profile-title,
.login-title {
    background: url(https://cdn.shopify.com/s/files/1/1619/4221/products/BH1038680DKateAbstractRetroBackdropGrayWallTexture.jpg?v=1652066917) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    font-family: 'Pangolin', cursive;
    font-size: 350%;
    margin-top: 1rem;
    margin-bottom: 5px;
    text-align:center;
}

.profile-card {
    width: 23rem;
    height: 35rem;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 15px;
    margin-bottom: 25px;

    background-color: rgba(255, 255, 255, 0.6);

    color: rgb(255, 255, 255);
}

#form-button {
    margin-top: 55px;
}



/* ......../ MOBILE VERSION LARGE /.......... */

@media (max-width: 890px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: rgba(255, 255, 255, 0.8);
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;

        position: fixed;
        /* z-index: 999; */
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: -7px;
        right: 15px;
        font-size: .5rem;
    }

    .logo-hide {
        display: block;
        text-decoration: none;
        color:rgb(80, 80, 80);

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }

    .total {
        display: none;
    }
    .total-hide {
        color: rgb(80, 80, 80);
        display: block;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25%;
    }

    .search-form > input {
        border-radius: 25px;
        margin-right: 5px;
        margin-left: auto;
        padding: 5px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    .album-art {
        border-radius: 8px;
        margin-bottom: 8px;
        height: 150px;
        width: 150px;
        transition: all .3s ease-in-out;
    }

    a > .album-art:hover {
        transform: scale(1.1);
    }

    .card {
        width: 14rem;
        height: 18.5rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3rem;
        text-align: center;
    }

    .artist-detail-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        align-items: center;
        align-content: justify;

        margin-top: 15px;
        margin-bottom: 50px;
    }

    .artist-form {
        width: 50%;
    }

    .record-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
        justify-items: center;

        padding-top: 0.938rem;
        padding-bottom: 2.188rem;

        width: 50%;

        border-radius: 25px;

        margin-top: 15px;
        margin-bottom: 50px;

        background-color: rgba(255, 255, 255, 0.6);
    }

    .record-card {
        display: grid;
        width: 18rem;
        height: 25rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

    .detail-record-card {
        width: 19rem;
        height: 27rem;
    }
}

/* ......../ MOBILE VERSION SMALL /.......... */
@media (max-width: 575px) {
    html {
        font-size: 65%;
    }

    .navbar .menu-items li{
        font-size: 1.6rem;
    }

    .logo {
        position: absolute;
        top: -7px;
        right: 15px;
        font-size: 3rem;
    }

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .album-art {
        border-radius: 8px;
        margin-bottom: 8px;
        height: 100px;
        width: 100px;
        transition: all .3s ease-in-out;
        }

    a > .album-art:hover {
        transform: scale(1.1);
    }

    .card {
        width: 12rem;
        height: 17rem;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3rem;
        text-align: center;
    }

    .detail-record-card {
        width: 18rem;
        height: 25rem;
    }

    .artist-detail-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        align-items: center;
        align-content: justify;

        margin-top: 15px;
        margin-bottom: 50px;
    }

    .artist-form {
        width: 70%;
    }

    .record-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
        justify-items: center;

        padding-top: 0.938rem;
        padding-bottom: 2.188rem;

        width: 70%;

        border-radius: 25px;

        margin-top: 15px;
        margin-bottom: 50px;

        background-color: rgba(255, 255, 255, 0.6);
    }

    .signup-card {
        width: 23rem;
        height: 60rem;
    }

    .profile-card {
        width: 23rem;
        height: 41rem;
    }
}
/* .......................... */
