

/* ALL TEMPLATES CSS */
body {
    background-color: palevioletred;
    color: aliceblue;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
}

footer {
    text-align: center;
    margin-top: 1rem;

    position: relative;
    bottom: 1.5rem;
    width: 100%;
    height: 2.5rem;

    /* display: flex;
    min-height: 2.5rem;
    flex-direction: column; */
}

h1 {
    text-align: center;
    color:rgba(0, 255, 255, 0.62);
}

img {
    border-radius: 8px;
}

li {
    list-style: none;
}

.container-menu {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 30px;
}
.heading {
    align-items: center;
    justify-content: center;
}

.search-form {
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    /* display: inline-grid;
    align-items: center;
    justify-content: flex-end; */

    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* padding-top: 15px; */
    /* padding-bottom: 35px; */
    /* padding-left: 150px; */
    padding-right: 50px;

    border-radius: 25px;

    margin-top: 15px;
    margin-bottom: 50px;

    background-color: none;
}

#search-icon {
    position: relative;
    top: 8px;
}


/* LIST PAGE CSS */
.pagination {
    text-align: center;

    /* display: flex;
    min-height: 2.5rem;
    flex-direction: column; */

    position: relative;
    bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}

.container-list-albums {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px 300px; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    max-width: 1252px;
    padding: 25px;
    padding-top: 35px;
    background-color: rgba(0, 255, 255, 0.62);
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 50px;
    position: relative;
}

.card {
    width: 250px;
    height: 300px;
    text-align: center;
}


/* ADD RECORD FORM CSS  */

.form-title {
    margin: 0px;
}

.artist-form, .record-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: flex-start;

    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 150px;
    padding-right: 150px;

    border-radius: 25px;

    margin-top: 15px;
    margin-bottom: 50px;

    background-color: rgba(0, 255, 255, 0.62);
}

.form-button-a {
    display: grid;
    align-items: center;
    justify-items: center;

    margin-top: 20px;
}

.form-button-a > a {
    font-family: Arial;
    font-size: 13.333px;

    max-width: 23px;
}

.form-button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 10%;
}

.form-button > button, .form-button-a > a {
    background-color: palevioletred;
    border: none;
    border-radius: 8px;
    padding: 7px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;

    transition: all .3s ease-in-out;
}

.form-button > button:hover, .form-button-a > a:hover {
    background-color: pink;
    transform: scale(1.2);
}


form > p {
    border-color: blueviolet;
    background-color: palevioletred;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 17px;
    padding-bottom: 18px;
    max-width: 175px;
    text-align: center;

    margin-bottom: 0px;
}

select > option {
    text-overflow: hidden;
}

select {
    overflow: scroll;
    overflow-x: hidden;
}

form > p > input, form > p > select {
    border-radius: 8px;
    border: none;
    padding: 5px;
    min-width: 163px;
}

.form-album,
.form-artwork,
.form-date,
.form-price {
    margin-top: -15px;
}


/* ARTIST RECORDS DETAIL VIEW */

.artist-detail-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    align-items: center;
    align-content: justify;

    margin-top: 15px;
    margin-bottom: 50px;
}

.record-card {
    width: 250px;
    height: 375px;
    text-align: center;

    border-radius: 25px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;

    margin: 15px;

    background-color: rgba(0, 255, 255, 0.62);
}
